name: Deploy Portfolio to Github Pages

on:
    push:
        branches:
            - main

jobs:
    build-deploy:
        runs-on: ubuntu-latest

        steps:
            # Checkout the repository
            - name: Checkout code
              uses: actions/checkout@v3

            # Setup nodejs
            - name: Setup nodejs
              uses: actions/setup-node@v3
              with:
                node-version: 22

            # Install Dependecies
            - name: Install Dependecies
              uses: npm install
            
            # Build the project
            - name: Install Dependecies
              uses: npm run build