name: Deploy Portfolio to Github Pages

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pages: write
      id-token: write
    steps:
      # Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v3

      # Setup nodejs
      - name: Setup nodejs
        uses: actions/setup-node@v3
        with:
          node-version: 22

      # Install Dependecies
      - name: Install Dependecies
        run: npm install

      # Build the projects and run buid
      - name: Build project
        run: npm run build

      # Deploy to Github Pages
      - name: Deploy to Github Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: dist
